<div>
    <ul class="nav nav-tabs">
        <li><a href="#/groups/{{groupId}}">Common</a></li>
        <li class="active"><a>Users</a></li>
    </ul>
</div>
<div align="center">
    <table class="table table-striped table-bordered">
        <tbody>
        <tr ng-repeat="user in users">
            <td><a href="#/users/{{user._id}}">{{user.userName}}</a></td>
        </tr>
        </tbody>
    </table>
    <pagination items-per-page=5 total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></pagination>
</div>