<div align="center">
    <div class="search">
        <input placeholder="Search" class="form-control" ng-model="query" id="search" ng-model-options="{ debounce: 500 }" ng-change="filter()">
    </div>
    <table class="table table-striped table-bordered">
        <tbody>
        <tr ng-repeat="user in users">
            <td><a href="#/users/{{user._id}}">{{user.userName}}</a></td>
        </tr>
        </tbody>
    </table>
    <pagination items-per-page=5 total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></pagination>
</div>
