/* app css stylesheet */

body {
  padding-top: 20px;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  border-bottom: 1px solid gray;
}

.search {
  margin-bottom: 22px;
}

.ng-invalid.ng-dirty {
  border-color: #FA787E;
}
